.SearchResults {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10px;
  gap: 10px;
}

@media screen and (max-width: 720px) {
  .SearchResults {
    grid-template-columns: none;
  }
}
