.video-item {
  display: flex;
  margin: 0;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 200ms ease-in;
}

.video-item:hover {
  transform: scale(1.04);
}

.video-item img {
  width: 50%;
  height: 100%;
}

.video-item .metadata {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
}

.video-item .title {
  color: black;
  font-size: 25px;
  font-weight: 500;
}

.video-item .channelTitle {
  font-size: 20px;
  color: lightgray;
}

.video-item.video-item--detail .title {
  font-size: 20px;
}

.video-item.video-item--detail .channelTitle {
  font-size: 15px;
}

@media screen and (max-width: 720px) {
  .video-item img {
    margin-right: 10px;
  }

  .video-item .title {
    color: black;
    font-size: 15px;
    font-weight: 500;
  }

  .video-item .channelTitle {
    font-size: 10px;
    color: lightgray;
  }
}
